<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        forceCoversAnnotation="true"
        defaultTestSuite="all">
    <testsuites>
        <testsuite name="all">
            <directory>tests/unit/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>tests/unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>